.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;

    width: 400px;
    background-color: rgb(34, 34, 32);
    box-shadow: 0px 0px 17px 5px rgba(255, 255, 255, 1);
  }
  &__card:not(:nth-child(3n)) {
    margin-right: 20px;
  }
  &__container {
    margin-bottom: 30px;
    height: 280px;
    width: 360px;

    overflow: hidden;

    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(10, 10, 10), 0px 0px 17px 3px #ffffff;
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    background-color: gray;
  }
  &__img:hover {
    cursor: pointer;
  }
  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 10px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 2px 2px rgba(2, 2, 2, 0.7);
    background-color: rgb(237, 250, 237);
  }
}
